{
  "presets": [
    "env",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "dynamic-import-node",
    "babel-plugin-webpack-alias"
  ]
}
