@import "vars";

.block-center {
  display: block;
  margin: 0 auto;
}

.lh-115 {
  line-height: 115px !important;
}

.fz-220 {
  font-size: 220px !important;
}

.box-center {
  margin: auto;
}

.width-400 {
  width: 400px;
}

.height-300 {
  height: 300px;
}

.margin-10 {
  margin: 10px 0;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.font-18 {
  font-size: 18px;
}

.font-23 {
  font-size: 23px;
}

.color-cyan {
  color: $cyan !important;
}

.fz-85 {
  font-size: 85px !important;
}

.fz-20 {
  font-size: 20px !important;
}

.min-h-135 {
  min-height: 135px !important;
}

.fz-115 {
  font-size: 115px !important;
}
.h-330{
  height: 330px !important;
}
.pt-72{
  padding-top: 72px !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.ptb-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ptb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.font-35{
 font-size: 35px;
}
